@use '../base';

html {
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body {
  background-color: white;
  color: base.$font-color;
  font-family: base.$regular-font;
  font-size: 1em;
  height: 100%;
  overflow: hidden;

  :is(h1, h2, h3, h4, h5, h6) {
    font-family: base.$bold-font;
  }

}


//#main contains the sidebar and .main-information
#main {
  display: flex;
  height: 86%;

}

//this is the section that contains .see-and-create
.main-information {
  align-items: center;
  background-image: url('/images/background-1.jpg');
  background-size: contain;
  display: flex;
  height: 100%;
  padding: 2% 4% 2% 4%;
  width: 82%;
  z-index: initial;

}

//this div contains the two boxes - #tasks-list and #create-new-task
.see-and-create {
  align-content: center;
  display: flex;
  height: 95%;
  justify-content: space-between;
  width: 100%;

}


#tasks-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 3% 3%;
  width: 48%;

}


#create-new-task {
  align-content: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 3% 3% 5% 3%;
  width: 48%;

}




