@use '../base';

#sidebar {
  background-color:base.$light-grey;
  box-shadow: 0.1em 0 0.5em base.$dark-grey-highlights;
  height: 100%;
  padding: 0.5em 0;
  position: relative;
  width: 18%;
  z-index: 2;

  h2 {
    align-items: center;
    display: flex;
    margin-bottom: 0.5em;
    padding-left: 1em;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 1.2em;
  }

  //makes a space between icon and text
  img{
    height: 7vmin;
    margin-right: 0.2em;
    padding: 3.5%;
    width: 7vmin;

  }

  //makes the menu button take up the width of the sidebar
  ul {
    margin-bottom: 4em;
    margin-top: 0;
    padding: 0;
  }

  ul li{
    font-size: 1em;
    list-style-type: none; //removes the bullet points from the list items
    padding: 0.5em 0.5em 0.5em 4em;
    color: base.$font-color;
  }

  // removes the underline from the hyperlinks
  a{
    display: block;
    text-decoration: none;
  }

  a:visited{
    color: base.$font-color;
  }

  ul li:hover{
    background-color: base.$blue-highlights;
  }

  li:hover{
    color: #fff
  }




}
