//fonts
$regular-font: 'Quicksand', sans-serif;
$bold-font:'Poppins', sans-serif;
$font-color: rgb(59, 59, 59);

// colours
$off-white: rgb(248, 250, 252); //nav bar background color
$light-grey: rgb(246, 247, 248); //sidebar background color
$dark-grey-highlights: #d6d5d5;
$blue-highlights: rgb(81, 161, 199);
$red-highlights: rgb(219, 28, 28);

//background image
$background-image: url('/images/background-seamless-2.jpg');
