$regular-font: 'Quicksand', sans-serif;
$bold-font:'Poppins', sans-serif;
$font-color: rgb(59, 59, 59);

// colours
$off-white: rgb(248, 250, 252); //nav bar background color
$light-grey: rgb(246, 247, 248); //sidebar background color
$dark-grey-highlights: rgba(#d6d5d5, 0.9);
$blue-highlights: rgb(39, 92, 170);


