@use 'base';

#create-new-task {
  background-color: base.$off-white;
  border: 1px solid base.$dark-grey-highlights;
  border-radius: 0.7em;
  box-shadow: 0 0 0.6em base.$dark-grey-highlights;
  display: flex;
  flex-direction: column;
  height: 100%;

    #create-task-heading{
      font-family: base.$bold-font;
      font-size: 0.9em;
      font-weight: bold;
      padding-bottom: 2%;
      text-decoration: underline;
      text-decoration-color: base.$blue-highlights;
      text-decoration-thickness: 2px;
      text-transform: uppercase;

  }

  .tags {
    display: flex;
    flex-direction: row;
    font-size: 0.8em;
    padding-bottom: 1em;

    button{
      align-items: baseline;
      border-radius: 2.5em;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin: 0.5em;
      width: auto;

      &:hover {
        cursor: pointer;
      }

      p {
        font-family: base.$bold-font;
        margin: 0 0.8em 0 0.5em;
        padding: 0;
        text-decoration: none;
        text-transform: uppercase;

      }

      //these are the x icons that will appear after creating a tag
      i {
        font-size: 0.75em;
        margin-right: 0.5em;
        position: relative;
      }
    }

  }


  .tag-important{
    background-color:base.$off-white;
    border: base.$red-highlights 2px solid;
    color: base.$red-highlights;

    &:hover{
      background-color: base.$red-highlights;
      color: base.$off-white;
    }
  }

  .tag-school{
    background-color:base.$off-white;
    border: base.$blue-highlights 2px solid;
    color: base.$blue-highlights;

    &:hover{
      background-color: base.$blue-highlights;
      color: base.$off-white;
    }
  }

  .tag-create{
    border: grey 2px dashed;
    opacity: 0.5;

    &:hover{
      opacity: 1;
    }
  }



  form {
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-between;
    width: 100%;

  }

  //textarea input
  #task-title {
    background-color: base.$off-white;
    border: none; //removes default textarea border
    border-bottom: 2px solid darkgrey;
    color: rgb(68, 68, 68);
    font: base.$bold-font;
    font-size: 1.3em;
    font-weight: bold;
    height: 2em;
    margin: 1em 0;
    resize: none;
    text-transform: uppercase;
    vertical-align: baseline;
    width: 100%;

    &::placeholder {
      font: base.$bold-font;
      font-weight: bold;
      opacity: 30%;
    }

    /* removes the border when the user clicks into the input box */
    &:focus {
      outline: none;
    }

  }

  .category-dropdown {
    display: flex;
    width: 100%;

    h5 {
      margin: 0.2em;
    }

    p {
      margin: 0.2em;
    }
  }

  //contains the auto-category and the dropdown menu
  .category-select {
    display: flex;
    flex-direction: column;
  }

  //the actual drop down menu and selections
  .category-contents {
    border: 2px solid rgba(grey, 0.4);
    border-radius: 0.6em;
    display: none;
    margin: 0.2em;
    padding: 0; //lets list item take up the whole row

    li {
      list-style-type: none; //removes the bullet points from the list items
      padding: 0.3em 0.75em;
    }

    li:hover {
      background-color: base.$dark-grey-highlights;
      cursor: pointer;
    }
  }

  //contains the up and down arrows
  .category-visibility-toggle {
    display: flex;

    i {
      margin: 0.2em 0.5em;
    }

    i:hover{
      color: base.$blue-highlights;
      cursor: pointer;
    }

    .fas.fa-sort-down {
      order: 1;
    }

    .fas.fa-caret-up {
      order: 2;
      visibility: hidden;
    }
  }

  .new-task-button {
    align-self: flex-end;
    width: 25%;
  }

}

// contains the 'reminder', 'due date' and 'share' buttons
#task-additional-features {
  align-items: center;
  display: flex;
  height: 35%;
  margin: 5% 0;
  width: 100%;

  div{
    align-items: center;
    border: 2px solid rgba(grey, 0.4);
    border-radius: 0.6em;
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: center;
    margin: 2%;
    width:30%;

    &:hover {
      border-color: base.$blue-highlights;
      color: base.$blue-highlights;
      cursor: pointer;
    }

    p {
      margin: 0.5em;
    }

    //icons
    i {
      font-size:1.25em;
    }
  }
}
