@use 'base';

#delete-modal {

  background-color: base.$off-white;
  border: 2px solid rgba(grey, 0.4);
  border-radius: 0.6em;
  box-shadow: 0em 0.1em 0.5em grey;
  height: auto;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-20%, -43%);
  visibility: hidden;
  width: 30%;
  z-index: 1;

  .delete-modal-header {
    align-items: center;
    color: base.$red-highlights;
    display: flex;
    flex-direction: column;

    .fas.fa-times {
      align-self: flex-end;
      color: rgba(black, 0.7);
      margin: 1em 1em 0 0;
    }

    .far.fa-trash-alt {
      font-size: 6em;
      margin-top: 0.25em;
    }

    .fas.fa-times:hover {
      color: base.$red-highlights;
      cursor: pointer;
    }

    h1 {
      font-weight: normal;
      margin-bottom: 0;
      margin-top: 1em;
    }


  }

  .delete-modal-body {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0.5em 2em;
    width: 100%;

    p {
      margin: 0.5em;
      text-align: center;
    }

    #delete-task-button {
      background-color: base.$off-white;
      border: base.$red-highlights 2px solid;
      border-radius: 1em;
      color: base.$red-highlights;
      font-size: 1em;
      font-weight: bold;
      margin: 2em 0 1em 0;
      opacity: 0.8;
      padding: 0.5em;
      text-transform: uppercase;
      width: 40%;

      &:hover {
        background-color: rgba(base.$red-highlights, 0.98);
        color: white;
        cursor: pointer;
      }
    }

    #cancel-deletion-button {
      background-color: base.$dark-grey-highlights;
      border: rgba(black, 0.7) 2px solid;
      border-radius: 1em;
      color: rgba(black, 0.7);
      font-size: 1em;
      font-weight: bold;
      margin-bottom: 3em;
      opacity: 0.8;
      padding: 0.5em;
      text-transform: uppercase;
      width: 40%;


      &:hover {
        background-color: #ccc9c9;
        cursor: pointer;
        opacity: 1;
      }
    }

  }

}
