@use 'base';

html {
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body {
  background-color: white;
  height: 100%;
  overflow: hidden;
  font-family: base.$regular-font;
  font-size: 1em;
  color: base.$font-color;

  :is(h1, h2, h3, h4, h5, h6) {
    font-family: base.$bold-font;
  }

}

#main {
  display: flex;
  height: 85%;

}

.main-information {
  background-image: url('/images/background-1.jpg');
  background-size: contain;
  width: 82%;
  height: 100%;
  padding: 2% 4% 2% 4%;
  display: flex;
  align-items: center;
  z-index: initial;

  h1 {
    height: 5%;
    // padding-left: 2%;
  }

}


.see-and-create {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  height: 95%;

}


#tasks-list {
  width: 48%;
  height: 100%;
  border: 1px solid base.$dark-grey-highlights;
  border-radius: 0.7em;
  padding: 3% 3%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0.6em base.$dark-grey-highlights;
  background-color: base.$off-white;


  .task {
    border: 2px solid rgba(grey, 0.4);
    border-radius: 0.6em;
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;

    .checkbox-and-title {
      display: flex;
      align-items: center;


    }
    .task-checkbox {
      border: 1px solid grey;
      border-radius: 50%;
      height: 2em;
      width: 2em;
      margin: 1em;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .task:hover {
    box-shadow: 0 0 0.3em rgba(base.$blue-highlights, 0.5);
  }

}

.delete-and-edit-icons {
  padding: 1em;
  color: base.$font-color;
  font-size: 1.2em;

  i{
  padding: 0.2em;
  }
}

.fas.fa-edit:hover {
  color: base.$blue-highlights;
}

//delete icon
.far.fa-trash-alt:hover {
  color: base.$red-highlights;
}



#create-new-task {
  width: 48%;
  height: 100%;
  border: 1px solid base.$dark-grey-highlights;
  border-radius: 0.7em;
  padding: 3% 3%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0.6em base.$dark-grey-highlights;
  align-content: center;
  background-color: base.$off-white;

  article {
    height: 100%;
    width: 100%;
  }

  form {
    display: flex;
    align-items: space-between;
    flex-direction: column;
    align-items: flex-end;
    height: 90%

  }

  #task-title {
    margin-bottom: 1em;
    width: 100%;
    background-color: base.$off-white;
    border: none; //removes default textarea border
    resize: none;
    border-bottom: 2px solid darkgrey;
    vertical-align: baseline;
    height: 2em;
    font-weight: bold;
    font: base.$bold-font;
    color: rgb(68, 68, 68);
    // text-transform: uppercase;

    &::placeholder {
      font: base.$bold-font;
      font-weight: bold;
      opacity: 30%;
    }

    /* removes the border when the user clicks into the input box */
    &:focus {
      outline: none;
    }

  }

  .new-items {
    width: 100%;
  }
  
  .entered-list-item {
    width: 100%;
    padding-left: 10%;
    font-weight: bold;
    font: base.$bold-font;
    color: rgb(68, 68, 68);
    margin-bottom: 0;

    li {
      padding-left: 0.5em;
    }
  }

  .new-list-item {
    border: 2px solid rgba(grey, 0.4);
    border-radius: 0.6em;
    width: 100%;
    padding-left: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    li {
      width: 100%
    }
  }



  #task-content {
    height: 1.5em;
    width: 95%;
    background-color: base.$off-white;
    border: none; //removes default textarea border
    // border: 2px solid d3em;
    resize: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em 0.5em;


    &::placeholder {
      font: base.$bold-font;
      font-weight: bold;
      opacity: 30%;
    }

    /* removes the border when the user clicks into the input box */
    &:focus {
      outline: none;
    }
  }

  .fas.fa-plus {
    opacity: 30%;
    padding: 5% 5% 5% 1%;

    &:hover {
      opacity: 100%
    }

  }


  .new-task-button {
    width: 25%;
  }
}



