@use 'base';

html {
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body {
  background-color: white;
  height: 100%;
  overflow: hidden;
  font-family: base.$regular-font;
  font-size: 1em;
  color: base.$font-color;

  :is(h1, h2, h3, h4, h5, h6) {
    font-family: base.$bold-font;
  }

}

#main {
  display: flex;
  height: 85%;

}

.main-information {
  background-image: url('/images/background-1.jpg');
  background-size: contain;
  width: 82%;
  height: 100%;
  padding: 2% 4% 2% 4%;
  display: flex;
  align-items: center;
  z-index: initial;

  h1 {
    height: 5%;
    // padding-left: 2%;
  }

}


.see-and-create {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  height: 95%;

}


#tasks-list {
  width: 48%;
  height: 100%;
  border: 1px solid base.$dark-grey-highlights;
  border-radius: 0.7em;
  padding: 3% 3%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0.6em base.$dark-grey-highlights;
  background-color: base.$off-white;


  .task {
    border: 2px solid rgba(grey, 0.4);
    border-radius: 0.6em;
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1em;

    .checkbox-and-title {
      display: flex;
      align-items: center;


    }
    .task-checkbox {
      border: 1px solid grey;
      border-radius: 50%;
      height: 2em;
      width: 2em;
      margin: 1em;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .task:hover {
    box-shadow: 0 0 0.6em base.$dark-grey-highlights;

  }

}

.delete-and-edit-icons {
  padding: 1em;

  i{
  padding: 0.2em;
  }
}



#create-new-task {
  width: 48%;
  height: 100%;
  border: 1px solid base.$dark-grey-highlights;
  border-radius: 0.7em;
  padding: 3% 3%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0.6em base.$dark-grey-highlights;
  align-content: center;
  background-color: base.$off-white;


  article {
    height: 100%
  }


  form {
    display: flex;
    align-items: space-between;
    flex-direction: column;
    align-items: flex-end;
    height: 90%

  }

  #task-title {
    margin-bottom: 1em;
    width: 100%;
  }

  #task-content {
    margin-bottom: 1em;
    width: 100%;

    height: 20%;
  }

  .new-task-button {
    width: 25%;
  }
}



