@use 'base';

nav {
  background-color: base.$off-white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0em 0.1em 0.5em base.$dark-grey-highlights;
  height: 15%;
  z-index: 2;
  padding: 1%;
  position: relative;

  span {
    margin: 60px;
  }
  .avatar {
    border: 3px solid rgba(black, 0.7);
    border-radius: 50%;
    width: 12vmin;
    height: 12vmin;
    margin: 0.5em;
    // position: fixed;
  }

  .avatar:hover {
    border-color: base.$light-grey;
    box-shadow: 0 0 0.5em black;

  }

  .logo {
    width: 36vmin;;
    height: 8vmin;
  }
}

#user-settings {
  position: relative;
  // display: flex;
  // justify-content: flex-end;
  // align-items: center;
  // width: 30%;
  // height: 80%;
  // float: right;


  #user-dropdown-content {
    position: absolute;
    background-color: base.$dark-grey-highlights;
    display:flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    border: 2px solid rgba(grey, 0.5);
    box-shadow: 0 0 0.3em rgba(base.$blue-highlights, 0.5);
    border-radius: 0.4em;
    // display: none;
    margin-right: 5em;

    p{
      text-decoration: underline;
      font-weight: bold;
      margin: 1em 1em;
    }

     // removes the underline from the hyperlinks
    a{
      text-decoration: none;
      display: block;
      // margin: 0.5em 0;
      padding: 1em 1.2em;


    }

    a:visited{
      color: base.$font-color;
    }

    a:hover {
      background-color: base.$light-grey;
      font-weight: bold;
      // color: base.$blue-highlights;
      // text-decoration: underline;
    }

  }
}

