@use 'base';

nav {
  align-items: center;
  background-color: base.$off-white;
  box-shadow: 0em 0.1em 0.5em base.$dark-grey-highlights;
  display: flex;
  height: 14%;
  justify-content: space-between;
  padding: 1%;
  position: relative;
  z-index: 2;

  span {
    margin: 60px;
  }
  .avatar {
    border: 3px solid rgba(black, 0.7);
    border-radius: 50%;
    height: 12vmin;
    margin: 0.5em;
    width: 12vmin;
  }

  .avatar:hover {
    border-color: base.$light-grey;
    box-shadow: 0 0 0.5em black;

  }

  .logo {
    height: 8vmin;
    width: 36vmin;;
  }
}

#user-settings {
  position: relative;
  // display: flex;
  // justify-content: flex-end;
  // align-items: center;
  // width: 30%;
  // height: 80%;


  #user-dropdown-content {
    background-color: base.$dark-grey-highlights;
    border: 2px solid rgba(grey, 0.5);
    border-radius: 0.4em;
    box-shadow: 0 0 0.3em rgba(base.$blue-highlights, 0.5);
    display:flex;
    flex-direction: column;
    height: auto;
    margin-right: 5em;
    position: absolute;
    width: 100%;
    display: none;

    p{
      font-weight: bold;
      margin: 1em 1em;
      text-decoration: underline;
    }

     // removes the underline from the hyperlinks
    a{
      display: block;
      padding: 1em 1.2em;
      text-decoration: none;

    }

    a:visited{
      color: base.$font-color;
    }

    a:hover {
      background-color: base.$light-grey;
      font-weight: bold;
    }

  }
}

