<!DOCTYPE html>
<html lang="en">

  <head>
    <title>Home Page</title>

    <!-- linking the icons from 'font awesome' -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" referrerpolicy="no-referrer" />


    <!-- linking external fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500&display=swap" rel="stylesheet">


    <!-- App CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="/styles/log-in/layout-log-in.css" type="text/css" />


    <!-- App JS -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="scripts/resetInputForm.js"></script>


  </head>


  <body>

    <!-- fixed header - shows logo and avatar -->
    <nav>
      <img class="logo" src="/images/logo-2c.png">

      <form action="/register" method="GET">
      <button type="submit" class="homepage-register-button">Register</button>
      </form>

    </nav>

    <div class="log-in-main-body">



      <div class="main-information">


        <div class="log-in-body">

          <h1>Sign in</h1>

          <form action='/login' method="POST" id="login-form">

            <div>
              <p>username:</p>
              <input type="text" id="log-in-username"  name="username"></input>

              <p>password:</p>
              <input type="password" id="log-in-password" name="password"></input>

              <% if (typeof errorMessage !== "undefined") { %>
                <span id="error-message"><i class="fas fa-exclamation-circle"></i><%= errorMessage %></span>
              <% } %>
            </div>

            <div class="log-in-forgot-pass-buttons">
              <a href="#">Forgot your password?</a>
              <button type="submit" id="log-in-submit-button">Sign in</button>
            </div>

          </form>
        </div>



      </div>

      <div class="log-in-sidebar">

        <img src="/images/login-page-clipart-1.png">

        <h2><em>You're just a few clicks away from creating your own to-do list!</em></h2>


      </div>


    </div>


  </body>




</html>
