@use '../base';

html {
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body {
  background-color: white;
  color: base.$font-color;
  font-family: base.$regular-font;
  font-size: 1em;
  height: 100%;
  overflow: hidden;

  :is(h1, h2, h3, h4, h5, h6) {
    font-family: base.$bold-font;
  }

}

.main {
  background-image: url('/images/background-1.jpg');
  display: flex;
  justify-content: flex-start;
  height: 86%;
  flex-direction: column;
  padding: 1em;
  margin-bottom: 4em;
}

.spacer {
  height: 30%;
}

.log-in-button {
  background-color: base.$off-white;
  border: base.$blue-highlights 2px solid;
  border-radius: 1em;
  color: base.$blue-highlights;
  font-size: 1em;
  font-weight: bold;
  margin: 0.5em 0.5em 0.5em 0;
  opacity: 0.8;
  padding: 0.5em;
  text-transform: uppercase;
  width: 10%;

  &:hover {
    background-color: rgba(base.$blue-highlights, 0.98);
    color: white;
    cursor: pointer;
  }
}

.register-button {
  background-color: base.$off-white;
  border: base.$blue-highlights 2px solid;
  border-radius: 1em;
  color: base.$blue-highlights;
  font-size: 1em;
  font-weight: bold;
  margin: 0.5em;
  opacity: 0.8;
  padding: 0.5em;
  text-transform: uppercase;
  width: 10%;

  &:hover {
    background-color: rgba(base.$blue-highlights, 0.98);
    color: white;
    cursor: pointer;
  }
}


#register-modal {

  background-color: base.$off-white;
  border: 2px solid rgba(grey, 0.4);
  border-radius: 0.6em;
  box-shadow: 0em 0.1em 0.5em grey;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  visibility: hidden;
  width: 35%;
  z-index: 1;

  .register-modal-header {
    background-color: rgba(base.$blue-highlights, 0.7);
    border-radius: 0.6em;

    display: flex;
    flex-direction: column;

    .fas.fa-times {
      align-self: flex-end;
      margin: 1em 1em 0 0;
    }

    .fas.fa-times:hover {
      color: white;
      cursor: pointer;
    }

    h1 {
      margin: 0 0 1em 2.5rem;
      color: base.$off-white;
      font-size: 1.5em;
    }
  }


  .register-modal-body {
    padding: 0 2.5rem 2em 2.5rem;
    display: flex;
    flex-direction: column;

    p {
      text-decoration: underline;
      font-weight: bold;
      margin-top: 2em;
      margin-bottom: 0.5em;
    }

    input {
      display: flex;
      flex-direction: column;
      height: 2em;
      justify-content: space-between;
      width: 100%;
      border: none; //removes default textarea border
      background-color: base.$off-white;
      border-bottom: 2px darkgrey solid;
      resize: none;
      margin-bottom: 1em;


      /* removes the border when the user clicks into the input box */
      &:focus {
        outline: none;
      }

    }

    #register-password {
      margin-bottom: 2em;
    }

    .sign-in-submit-buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;

      p {
        margin-top: 0;
        text-decoration: none;
        font-weight: normal;
        font-size: 0.8em;
      }
    }


    .register-sign-in-button {
      display: flex;
      flex-direction: column;

      a {
        margin-top: 0;
        text-decoration: none;
        font-weight: bold;
        font-size: 0.8em;
        color: base.$font-color;
        opacity: 0.7;

      }

      a:visited {
        color: base.$font-color;
      }

      a:hover {
        opacity: 1;
      }
    }



    #register-submit-button {
      background-color: base.$off-white;
      border: base.$blue-highlights 2px solid;
      border-radius: 1em;
      color: base.$blue-highlights;
      font-size: 1em;
      font-weight: bold;
      margin: 0.25;
      opacity: 0.8;
      padding: 0.5em;
      text-transform: uppercase;
      width: 30%;
      align-self: flex-end;


      &:hover {
        background-color: rgba(base.$blue-highlights, 0.7);
        color: white;
        cursor: pointer;
      }
    }


  }
}



